html,
body {
  margin: 0;
  padding: 0;
  background-color: #0A0A0A;
  overflow: hidden;
  font-family: ChakraPetch;
}


.temporary {
  padding: 20%;
  margin: auto;
  text-align: center;
}

#active {
  color: #7992f5 !important;
}


#sideBar {
  margin-top: 0;
  margin-left: 15px;
  z-index: 1;
  height: 100vh;
  width: 25vw;
  position: absolute;
  display: block;
  top: 0;
  background: #0A0A0A;
}

#biblio {
  position: absolute;
  bottom: 0;
  padding: 5px;
}

.sidebarText {
  padding: 5px;
  color: #d6d3d1;
  margin: 0;
}

#sbt1 {
  border: solid 5px #3CC8AB;
  border-radius: 10px;
  margin-bottom: 3%;
  width: 90%;
  transition: width 1s;
}

#sbt1:hover {
  color: #0A0A0A;
  background-color: #3CC8AB;
  font-weight: bold;
  width: 100%;
}

#sbt2 {
  border: solid 5px #ED6C80;
  border-radius: 10px;
  width: 65%;
  margin-bottom: 3%;
  transition: width 1s;
}

#sbt2:hover {
  color: #0A0A0A;
  background-color: #ED6C80;
  font-weight: bold;
  width: 75%;
}

#sbt3 {
  border: solid 5px #EDBB76;
  border-radius: 10px;
  width: 40%;
  margin-bottom: 3%;
  transition: width 1s;
}

#sbt3:hover {
  color: #0A0A0A;
  background-color: #EDBB76;
  font-weight: bold;
  width: 50%;
}

#logo:hover {
  color: #7992f5;
}

a {
  text-decoration: none;
}


td,
th {
  border: 1px solid #ddd;
}

table {
  /* width: 75vw; */
  /* margin-left:20vw; */
  border-collapse: collapse;
  /* margin: 2vh 2vh 2vh 22vw; */
}

.main {
  width: 70vw;
  margin: 2vh 2vh 2vh 2vw;
}

#infoheader {
  color: #3CC8AB;
}

#infoheader2 {
  color: #EDBB76;
}

.infomain {
  margin: 15px;
  padding: 12px;
  transform: translateX(52%);
  max-height: 95vh;
  max-width: 50%;
  font-family: ChakraPetch;
  color: #d6d3d1;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 5;
}

.infoGroup {
  overflow: auto;
  overflow-x: hidden;
  margin: 2vh 2vh 2vh 23vw;
  width: 75%;
  position: relative;
  z-index: 5;
  max-height: 95vh;
}

.oddDay {
  background-color: grey;
}

@font-face {
  font-family: ChakraPetch;
  src: url(../media/ChakraPetch-Medium.ttf);
}

.contactcard {
  background: #1F1F1F;
  color: #d6d3d1;
  right: 0;
  top: 0;
  position: absolute;
  margin: 2%;
  height: 93%;
  width: 20%;
  border: solid 5px #3CC8AB;
  border-radius: 10px;
  display: block;
  padding: 1%;
  text-align: center;
}

.contactcardinfo {
  text-align: left;
}

.externala {
  height: 35px;
  width: 35px;
  padding: 10%;
  margin: 3%;
  display: inline-block;
  border-radius: 5%;
}

#ext1 {
  background: url(../media/codepen.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#ext2 {
  background: url(../media/github.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#ext3 {
  background: url(../media/linkedin.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#ext1:hover{
  background: url(../media/g1.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in-out 0.5s;
}

#ext2:hover{
  background: url(../media/g2.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in-out 0.5s;
}

#ext3:hover{
  background: url(../media/g3.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: ease-in-out 0.5s;
}

.contactform {
  text-align: left;
}

.ctext {
  width: 325px;
  background: #1F1F1F;
  color: #d6d3d1;
  border: solid 3px #3CC8AB;
  border-radius: 5px;
  padding: 1%;
}

label {
  margin-bottom: 2%;
  margin-top: 2%;
}

.csend {
  width: 325px;
  background: #1F1F1F;
  color: #d6d3d1;
  border: solid 3px #3CC8AB;
  border-radius: 5px;
  padding: 1%;
  transition: letter-spacing 1s;
}

.csend:hover {
  background: #3CC8AB;
  color: #1F1F1F;
  font-weight: bold;
  letter-spacing: 3px;
}